<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3">Welcome to PackID's Test </h1>
    <div class="d-flex justify-content-center">
      <p class=""><%= link_to 'Users:', user_session_path %> <%= User.count %> registered</p>
    
    </div>
  </div>
</div>


<h2>Online Users:</h2>
<ul id="online-users">
  <%= render partial: "users/online", collection: User.online, as: :user %>
</ul>